fastapi==0.115.6
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.36
aiosqlite==0.20.0
pydantic-settings==2.6.1
python-multipart==0.0.12
ultralytics==8.3.5
opencv-python==4.10.0.84
boxmot==16.0.7
timm==1.0.12
deepface
tf-keras>=2.16.0
